#choose-file {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #333;
    background-color: #eee;
    text-align: center;
    padding-top: 20%;
}

.inputfile+label:hover{

    cursor:pointer;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    padding: 1em;
    color: white;
    background-color: palevioletred;
    appearance: none;
    border: none;
    font-weight: bolder;
}
